<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"tagName":"section","style":{"spacing":{"margin":{"top":"var:preset|spacing|30"}}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"wrap","justifyContent":"stretch"}} -->
<section class="wp-block-group" style="margin-top:var(--wp--preset--spacing--30)"><!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"query-loop"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></section>
<!-- /wp:group --></div>
<!-- /wp:group -->